#foto .img4 {
 padding:0px;
	width:10%;
}

.rating 
{
	position: absolute;
	top: 42%;
	left: 27%;
	transform: translate(-50%,-50%) rotateY(180deg);
	display: flex;
	
}

.rating input
{
	display: none;
	
}

.rating label
{
	display: block;
	cursor: pointer;
	width: 50px;
	
}

.rating label:before {
	
	content: '\f005';
	font-family: fontAwesome;
	position: relative;
	display: block;
	font-size: 50px;
	color: #101010;
}

.rating label:after {
	
	content: '\f005';
	font-family: fontAwesome;
	position: absolute;
	display: block;
	font-size: 50px;
	color: #1f9cff;
	top: 0;
	opacity:0;
	transition: .5s;
	text-shadow: 0 2px 5px rgba(0,0,0.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after
{
	opacity: 1;
}

#comentario{
	text-align: justify;
	font-size:15px;
	text-transform: uppercase;
	font-family: arial;
	padding-top: 50px;
	left:27%;
	
	
}

.botao {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}