#corpo  {
background-color: white;
width:80%;
height:900px;
margin-left:10%;
margin-right:10%;

border: solid 2px black;
}

#corpo .img1{
	padding-top:5px;
width:20%;
float: left;
left:0px;
}

#corpo .img2{
	padding-top:5px;
width:13%;
float: right;
}

#corpo #topo{

	color:black;
	text-transform: uppercase;
	width: 100%;
    text-align: center;
    font-size: 70px;
	float:left;
}

#corpo #texto{
	color:black;
	padding-top:137px;
	width:100%;
	float:left;
	font-size: 45px;
    text-align: center;	
	
;
}

#corpo .img3{
	float:left;
	padding-top: 150px;
	width:100%;
    height:350px;
    font-size: 19px;
}